html, body {
    height: 100%;
    margin: 0;
    background: rgb(68,65,152);
    background: linear-gradient(90deg, rgba(68,65,152,1) 0%, rgba(57,55,128,1) 12%, rgba(60,54,116,1) 48%, rgba(42,49,95,1) 78%, rgba(26,32,75,1) 96%);
}

.hidden{
    position: sticky;
    background: rgb(68,65,152);
    background: linear-gradient(90deg, rgba(68,65,152,1) 0%, rgba(57,55,128,1) 12%, rgba(60,54,116,1) 48%, rgba(42,49,95,1) 78%, rgba(26,32,75,1) 96%);
    width: 100%;
    top: 0;
    z-index: 5;
    height: 25px;
}

.grid-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-gap: 20px;
    padding: 20px;
    min-height: 100vh;
}

.main-content h1{
    font-size: 2em;
    font-weight: bold;
    color: whitesmoke;
    border-bottom: 2px solid red;
    text-align: center;
    padding-bottom: 10px;
}

.main-content p{
    color: whitesmoke;
    text-align: center;
}

.marvin.sidebar {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    height: 90vh;
    position: sticky;
    top: 25px;
}

.profile.photo {
    width: 70%;
    border-radius: 50%;
    margin-bottom: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

nav .container{
    position: relative;
}

nav .cc{
    position:absolute;
    bottom:0;
    left:50%;
    transform: translate(-50%);
    width:100%;
}

.cc p{ 
    text-align: center;
}

.marvin.sidebar h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.purple {
    color: #a29bfe;
    font-style: italic;
    margin-bottom: 20px;
}

.page.guide a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    font-size: 1.1rem;
    border-bottom: 1px solid #444;
    transition: background-color 0.3s;
}

.page.guide a:hover {
    background-color: #444;
}

.links{
    padding-top: 20px;
}

.links i {
    font-size: 1.5rem;
    margin-right: 15px;
    color: #a29bfe;
    cursor: pointer;
}

.links i:hover {
    color: #6c5ce7;
}

.main-content section {
    padding: 20px;
    margin-bottom:20px;
    background-color: #333;
    border-radius: 10px;
}

.Projects.filter button {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.Projects.filter button:hover {
    background-color: #333;
    color: #fff;
}

.projects.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(500px, 500px);
    gap: 20px;
    padding: 20px;
}

.project {
    background-color: #706d6d42;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    position: relative;
}

.projects.container img {
    padding-top: 10px;
    width: 45%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.project:hover {
    transform: scale(0.95);
}

.project h2 {
    font-size: 1.5em;
    margin-top: 15px;
    color: whitesmoke;
}

.project p {
    font-size: 1em;
    margin: 15px 0;
    color: whitesmoke;
    line-height: 1.4;
}

.project-buttons{
    position:absolute;
    padding-bottom: 15px;
    bottom:0;
    left:50%;
    transform: translate(-50%);
}

.project-buttons a {
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.project-buttons .github {
    color: #6c5ce7;
    border: 1px solid #6c5ce7;
    border-radius: 10px;
}

.project-buttons .demo {
    color: red;
    border: 1px solid red;
    border-radius: 10px;
}

.project-buttons .github:hover {
    background-color: #6c5ce7;
    color: white;
}

.project-buttons .demo:hover {
    background-color: red;
    color: white;
}

#skills {
    padding: 50px;
    background-color:#333;
    text-align: center;
}

#skills h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: whitesmoke;
}

.skills, .aboutcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
}

.skills div {
    background-color:  #706d6d42;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.skills div:hover {
    transform: translateY(-10px);
}

.skills img {
    max-width: 80px;
    height: 80px;
    margin-bottom: 15px;
    object-fit: contain;
}

.skills p {
    font-size: 16px;
    color: whitesmoke;
    line-height: 1.5;
}

.bio, .mission, .contact-grid a{
    background-color:  #706d6d42;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 10px;
    color: whitesmoke;
}

.bio p, .mission p{
    line-height: 1.5;
    text-align:left;
}

.aboutcontainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: center;
}

.bio h3 , .mission h3{
    text-align:center;
    font-size: 1.5em;
    padding-bottom: 5px;
    border-bottom: 2px dashed whitesmoke;
}

#contacts h3{
    text-align: center;
    color: whitesmoke;
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: 5%;
    transition: background-color 0.7s;
}

.contact-grid i{
    color: white;
    font-size: 3em;
}

.contact-grid p{
    font-size: 2vb;
}

.contact-grid a{
    text-align: center;
    text-decoration: none;
}

.contact-grid a:hover{
    background-color:#6c5ce7;
    transform: scale(1.05);
}

@media (max-width: 768px) {
.grid-container {
    grid-template-columns: 1fr;
}

.profile.photo {
    width: 20%;
    border-radius: 50%;
    margin-bottom: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.marvin.sidebar {
    margin-bottom: 20px;
    position: relative;
}

.aboutcontainer {
    grid-template-columns: 1fr;
}

.project-buttons a {
    text-decoration: none;
    padding: 5px 8px;
    display: inline-block;
    margin: 2px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
}
